@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

body {
    background: #000;
}

.lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
}

.lightrope li {
    position: relative;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background: #00f7a5;
    box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
    -webkit-animation-name: flash-1;
    animation-name: flash-1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.lightrope li:nth-child(2n+1) {
    background: cyan;
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
    -webkit-animation-name: flash-2;
    animation-name: flash-2;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

.lightrope li:nth-child(4n+2) {
    background: #f70094;
    box-shadow: 0px 4.6666666667px 24px 3px #f70094;
    -webkit-animation-name: flash-3;
    animation-name: flash-3;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
}

.lightrope li:nth-child(odd) {
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
}

.lightrope li:nth-child(3n+1) {
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
}

.lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9.3333333333px;
    border-radius: 3px;
    top: -4.6666666667px;
    left: 1px;
}

.lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.6666666667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
}

.lightrope li:last-child:after {
    content: none;
}

.lightrope li:first-child {
    margin-left: -40px;
}

@-webkit-keyframes flash-1 {

    0%,
    100% {
        background: #00f7a5;
        box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
    }

    50% {
        background: rgba(0, 247, 165, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
    }
}

@keyframes flash-1 {

    0%,
    100% {
        background: #00f7a5;
        box-shadow: 0px 4.6666666667px 24px 3px #00f7a5;
    }

    50% {
        background: rgba(0, 247, 165, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
    }
}

@-webkit-keyframes flash-2 {

    0%,
    100% {
        background: cyan;
        box-shadow: 0px 4.6666666667px 24px 3px cyan;
    }

    50% {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
    }
}

@keyframes flash-2 {

    0%,
    100% {
        background: cyan;
        box-shadow: 0px 4.6666666667px 24px 3px cyan;
    }

    50% {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
    }
}

@-webkit-keyframes flash-3 {

    0%,
    100% {
        background: #f70094;
        box-shadow: 0px 4.6666666667px 24px 3px #f70094;
    }

    50% {
        background: rgba(247, 0, 148, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
    }
}

@keyframes flash-3 {

    0%,
    100% {
        background: #f70094;
        box-shadow: 0px 4.6666666667px 24px 3px #f70094;
    }

    50% {
        background: rgba(247, 0, 148, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
    }
}

h1 {
    font-family: "Parisienne";
    font-size: 100px;
    padding-top: 60px;
    padding-bottom: 20px;
    color: #870020;
}

.linear-wipe:hover {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-animation: hue 2s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

h2 {
    font-family: "Montserrat";
    padding-bottom: 15px;
    padding-top: 10px;
    color: #fff;
}


.btn1 {
    font-size: 25px;
    padding: 20px;
    width: 25%;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    font-family: "Alata";
}

.btn2 {
    font-size: 25px;
    padding: 20px;
    width: 25%;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    font-family: "Alata";
}

.btn3 {
    font-size: 25px;
    padding: 20px;
    width: 25%;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    font-family: "Alata";
}

.btn4 {
    font-size: 25px;
    padding: 20px;
    width: 25%;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    font-family: "Alata";
}

.btn5 {
    font-size: 25px;
    padding: 20px;
    width: 25%;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    font-family: "Alata";
}

.btn1:hover {
    background-color: #395a32;
    text-decoration: none;
}

.btn2:hover {
    background-color: #395a32;
    text-decoration: none;
}

.btn3:hover {
    background-color: #395a32;
    text-decoration: none;
}

.btn4:hover {
    background-color: #395a32;
    text-decoration: none;
}

.btn5:hover {
    background-color: #cd1c36;
    text-decoration: none;
}

h6 {
    font-family: "Montserrat";
    background-color: #870020;
    font-size: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.message {
    font-family: "Lora";
    background-color: #193e1a;
    font-size: 15px;
    width: 1000px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

img {
    padding-top: 50px;
}

h3 {
    font-family: "Montserrat";
    font-size: 25px;
    background-color: #870020;
    color: #fff;
    padding: 5px;
    width: 300;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-family: "Montserrat";
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

h5 {
    font-family: "Lora";
    font-size: 15px;
    background-color: #193e1a;
    color: #fff;
    text-align: center;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.poem {
    font-family: "Montserrat";
    padding-top: 80px;
    color: #000;
    text-align: center;
}

.container-fluid {
    background-color: #fff;
}

.navbar {
    background-color: #000;
}

.navbar-brand {
    color: #cd1c36;
}

.nav-item {
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

.nav-item:hover {
    color: #cd1c36;
}

.row {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.snowflake {
    color: #000;
    font-size: 1em;
    font-family: Arial, sans-serif;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {

    0%,
    100% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 4s, 2.5s
}

.movie {
    font-family: "Montserrat";
    padding-top: 80px;
    color: #000;
    text-align: center;
}

.col-2 {
    margin-right: auto;
}

.binge {
    background-color: #870020;
    text-align: center;
    width: 450px;
    font-size: 20px;
}

.songs {
    font-family: "Montserrat";
    padding-top: 80px;
    color: #000;
    text-align: center;
}



* {
    box-sizing: border-box;
}

.col-3 {
    float: left;
    width: 25%;
    padding: 5px;
}

.col-3 img {
    opacity: 0.8;
    cursor: pointer;
}

.col-3 img:hover {
    opacity: 1;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.contain {
    position: relative;
    display: none;
}

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 1px;
    color: white;
    background-color: #193e1a;
    opacity: 0.9;
    font-size: 20px;
}

.closebtn {
    position: absolute;
    top: 50px;
    right: 15px;
    color: black;
    font-size: 35px;
    cursor: pointer;
}

.checklist {
    font-family: "Montserrat";
    padding-top: 80px;
    color: #000;
    text-align: center;
}

.row-4 {
    margin-left: 6%;
    padding-bottom: 20px;
}

.scrollbar {
    margin-left: 20px;
    float: left;
    height: 300px;
    width: 400px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding-top: 30px;
}

.wish {
    padding-bottom: 50px;
    font-family: "Lato";
}

.force-overflow {
    min-height: 450px;
}

#wrapper {
    text-align: center;
    margin: auto;
}

#style::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}
